// Only needed by client
[
Style { voxel: "Air", empty: true, color: [0.0, 0.0, 0.0] },

// Base stones
Style { voxel: "stone", empty: false, color: [0.4, 0.4, 0.4] },
Style { voxel: "mudstone", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "limestone", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "sandstone", empty: false, color: [1.0, 0.0, 1.0] },

// Variant stones
Style { voxel: "granite", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "diorite", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "andesite", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "blairmorite", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "basalt", empty: false, color: [1.0, 0.0, 1.0] },

// Minerals
Style { voxel: "obsidian", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "slate", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "lapis_lazuli", empty: false, color: [1.0, 0.0, 1.0] },

// Ores
Style { voxel: "bauxite", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "electrum", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "kimberlite", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "scheelite", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "tin_ore", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "iron_ore", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "gold_ore", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "copper_ore", empty: false, color: [1.0, 0.0, 1.0] },

// Minerals
Style { voxel: "tungsten", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "aluminum", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "tin", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "iron", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "gold", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "copper", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "silver", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "ruby", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "diamond", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "quartz", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "emerald", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "sapphire", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "amethyst", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "steel", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "bronze", empty: false, color: [1.0, 0.0, 1.0] },

// Earth
Style { voxel: "dirt", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "grass", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "snowy_grass", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "dead_grass", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "snow", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "ice", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "sand", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "mud", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "clay", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "gravel", empty: false, color: [1.0, 0.0, 1.0] },

// Wood
Style { voxel: "birch_wood", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "oak_wood", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "maple_wood", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "spruce_wood", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "willow_wood", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "brazil_nut_wood", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "mahogany_wood", empty: false, color: [1.0, 0.0, 1.0] }, 
Style { voxel: "cacao_wood", empty: false, color: [1.0, 0.0, 1.0] }, 
Style { voxel: "monkey_wood", empty: false, color: [1.0, 0.0, 1.0] }, 

Style { voxel: "oak_leaves", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "birch_leaves", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "maple_leaves", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "spruce_leaves", empty: false, color: [1.0, 0.0, 1.0] },

// Fruits
Style { voxel: "cacao", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "apple", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "orange", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "peach", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "brazil_nut", empty: false, color: [1.0, 0.0, 1.0] },

// Other
Style { voxel: "fire", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "lava", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "water", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "mirror", empty: false, color: [1.0, 0.0, 1.0] },
Style { voxel: "glass", empty: false, color: [1.0, 0.0, 1.0] },	
]