[
WorldPresetSource (
	name: "Superflat",
	
	temp: Value(70.0),
	humidity: Value(20.0),
	
	height: Value(12),
	sea_level: 10,
	
	earth: "stone",
	biomes: [
		BiomeSource (
			name: "Default",
			temp: (60.0, 90.0),
			humidity: (0.3, 0.7),
			weird: (0.0, 5.0),
			
			surface: [("dirt", 3), ("grass", 1)],
			surface_features: ["Tree"],
		)
	]
),
WorldPresetSource (
	name: "Standard World Gen",
	
	temp: Map ( scale: 0.0, freq: 0.0 ),
	humidity: Map ( scale: 0.0, freq: 0.0 ),
	weirdness: Map ( scale: 0.0, freq: 0.0 ),
	
	height: Map ( scale: 0.0, freq: 0.0 ),
	sea_level: 80,
	
	earth: "stone",
	biomes: [
		BiomeSource (
			name: "Default",
			temp: (60.0, 90.0),
			humidity: (0.3, 0.7),
			weird: (0.0, 5.0),
			
			surface: [("dirt", 3), ("grass", 1)],
			surface_features: ["Tree"],
		),
		BiomeSource (
			name: "Desert",
			temp: (90.0, 120.0),
			humidity: (0.0, 0.5),
			weird: (0.0, 5.0),
			
			surface: [("sandstone", 3), ("sand", 7)],
			surface_features: ["Cactus"],
		),
		BiomeSource (
			name: "Jungle",
			temp: (90.0, 120.0),
			humidity: (0.5, 1.0),
			weird: (0.0, 5.0),
			
			surface: [("dirt", 4), ("grass", 1)],
			surface_features: ["JungleTree"],
		),
		BiomeSource (
			name: "Cold Desert",
			temp: (-30.0, 20.0),
			humidity: (0.0, 1.0),
			weird: (0.0, 5.0),
			
			surface: [("dirt", 3), ("snow", 1)],
			surface_features: ["Evergreen"],
		),
		BiomeSource (
			name: "Arctic Desert",
			temp: (-120.0, -30.0),
			humidity: (0.0, 1.0),
			weird: (0.0, 1.0),
			
			surface: [("dirt", 3), ("snow", 5)],
			surface_features: [],
		),
	]
)
]
