[
WorldPresetSource (
	name: "Standard World Gen",
	
	temp: Noise(Map ( scale: 1.0, freq: 0.0004, offset: 0.0 )),
	humidity: Noise(Map ( scale: 1.0, freq: 0.001, offset: 0.0 )),
	weirdness: Noise(Map ( scale: 1.0, freq: 0.001, offset: 0.0 )),
	
	height: ComplexNoise (
		freq: Map ( freq: 0.0001, scale: 7.0, offset: 0.0 ),
        scale: Map ( freq: 0.003, scale: 40.0, offset: 0.0 ),
        base: Map ( freq: 0.003, scale: 2.5, offset: 1.0 ),
        layers: [
            // small terrain bumps
        	Map ( freq: 0.12, scale: 4.0, offset: 0.0 ),
        	// hills
        	Map ( freq: 0.01, scale: 30.0, offset: 0.0 ),
        	// mountains
        	Map ( freq: 0.001, scale: 70.0, offset: 0.0 ),
        ]
	),
	sea_level: 80,
	
	biome_lookup: (
		(0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 4, 4),
		(0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 4, 4),
		(0, 0, 0, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 3, 3, 4, 4),
		(0, 0, 0, 5, 5, 5, 5, 5, 5, 7, 7, 7, 7, 7, 7, 7, 7, 7, 4, 4),
	),
	
	earth: "stone",
	biomes: [
		BiomeSource (
			name: "Arctic Desert",
			vegetation: Map ( freq: 1.0, scale: 0.0, offset: 0.0 ),
			layers: [
				LayerSource ( voxel: "snow", depth: 5 ),
				LayerSource ( voxel: "dirt", depth: 3 ),
			],
			features: [],
		),
		BiomeSource (
			name: "Snowy Desert",
			vegetation: Map ( freq: 0.02, scale: 0.1, offset: 0.0 ),
			layers: [
				LayerSource ( voxel: "snow", depth: 1 ),
				LayerSource ( voxel: "dirt", depth: 3 ),
			],
			features: ["evergreen"],
		),
		BiomeSource (
			name: "Plains",
			vegetation: Map ( freq: 0.02, scale: 0.04, offset: 0.0 ),
			layers: [
				LayerSource ( voxel: "grass", depth: 1 ),
				LayerSource ( voxel: "dirt", depth: 4 ),
			],
			features: ["oak_tree"],
		),
		BiomeSource (
			name: "Savannah",
			vegetation: Map ( freq: 0.02, scale: 0.2, offset: 0.0 ),
			layers: [
				LayerSource ( voxel: "dry_grass", depth: 1 ),
				LayerSource ( voxel: "dirt", depth: 4 ),
			],
			features: ["acacia_tree"],
		),
		BiomeSource (
			name: "Desert",
			vegetation: Map ( freq: 0.02, scale: 0.6, offset: 0.0 ),
			layers: [
				LayerSource ( voxel: "sand", depth: 7 ),
				LayerSource ( voxel: "sandstone", depth: 5),
			],
			features: ["cactus", "cactus", "cactus", "dead_tree"],
		),
		BiomeSource (
			vegetation: Map ( freq: 0.02, scale: 0.4, offset: 0.0 ),
			name: "Icy Desert",
			layers: [
				LayerSource ( voxel: "snow", depth: 2 ),
				LayerSource ( voxel: "dirt", depth: 3 ),
			],
			features: ["evergreen", "mega_evergreen", "ice_spike", "frozen_oak_tree"],
		),
		BiomeSource (
			name: "Forest",
			vegetation: Map ( freq: 0.02, scale: 0.5, offset: 0.0 ),
			layers: [
				LayerSource ( voxel: "grass", depth: 1 ),
				LayerSource ( voxel: "dirt", depth: 5 ),
			],
			features: ["oak_tree", "birch_tree"],
		),
		BiomeSource (
			name: "Rain Forest",
			vegetation: Map ( freq: 0.02, scale: 1.0, offset: 0.0 ),
			layers: [
				LayerSource ( voxel: "moist_grass", depth: 2 ),
				LayerSource ( voxel: "dirt", depth: 5 ),
			],
			features: ["jungle_tree", "jungle_tree", "mega_jungle_tree", "stub_jungle_tree", "oak_tree"],
		),
	]
),
WorldPresetSource (
	name: "Superflat",
	
	temp: Value(70.0),
	humidity: Value(20.0),
	weirdness: Value(0.0),
	
	height: Value(12),
	sea_level: 10,
	
	biome_lookup: (
		(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
		(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
		(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
		(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
	),
	
	earth: "stone",
	biomes: [
		BiomeSource (
			name: "Default",
			vegetation: Map ( freq: 0.004, scale: 1.0, offset: 0.0 ),
			layers: [
				LayerSource ( voxel: "grass", depth: 1 ),
				LayerSource ( voxel: "dirt", depth: 3 ),
			],
			features: ["oak_tree"],
		)
	]
),
]
