(
	name: "Test World",
	version: (0, 1),
	
	// name of a folder in "$config/blockworld/datapacks"
	datapack: "vanilla",
	
	// name of a folder in "$config/blockworld/stylepacks"
	stylepack: "vanilla",
	
)