[
WorldPresetSource (
	name: "Standard World Gen",
	
	temp: Noise(Noise ( scale: 1.0, freq: 0.0004, offset: 0.0 )),
	humidity: Noise(Noise ( scale: 1.0, freq: 0.0004, offset: 0.0 )),
	weirdness: Noise(Noise ( scale: 1.0, freq: 0.001, offset: 0.0 )),
	
	height: ComplexNoise (
		freq: Noise ( freq: 0.0001, scale: 7.0, offset: 0.0 ),
        scale: Noise ( freq: 0.003, scale: 40.0, offset: 0.0 ),
        base: Noise ( freq: 0.003, scale: 2.5, offset: 1.0 ),
        layers: [
            // small terrain bumps
        	Noise ( freq: 0.15, scale: 4.0, offset: 0.0 ),
        	// big hills
        	Noise ( freq: 0.001, scale: 60.0, offset: 0.0 ),
        ]
	),
	sea_level: 80,
	
	biome_lookup: (
		(0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 4, 4),
		(0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 4, 4),
		(0, 0, 0, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 3, 3, 4, 4),
		(0, 0, 0, 5, 5, 5, 5, 5, 5, 7, 7, 7, 7, 7, 7, 7, 7, 7, 4, 4),
	),
	
	earth: "stone",
	biomes: [
		BiomeSource (
			name: "Arctic Desert",
			layers: [
				LayerSource ( voxel: "snow", depth: 5 ),
				LayerSource ( voxel: "dirt", depth: 3 ),
			],
			features: [],
		),
		BiomeSource (
			name: "Snowy Desert",
			layers: [
				LayerSource ( voxel: "snow", depth: 1 ),
				LayerSource ( voxel: "dirt", depth: 3 ),
			],
			features: ["evergreen"],
		),
		BiomeSource (
			name: "Plains",
			layers: [
				LayerSource ( voxel: "grass", depth: 1 ),
				LayerSource ( voxel: "dirt", depth: 4 ),
			],
			features: ["oak_tree"],
		),
		BiomeSource (
			name: "Savannah",
			layers: [
				LayerSource ( voxel: "grass", depth: 1 ),
				LayerSource ( voxel: "dirt", depth: 4 ),
			],
			features: ["acacia_tree"],
		),
		BiomeSource (
			name: "Desert",
			layers: [
				LayerSource ( voxel: "sand", depth: 7 ),
				LayerSource ( voxel: "sandstone", depth: 4),
			],
			features: ["cactus"],
		),
		BiomeSource (
			name: "Icy Desert",
			layers: [
				LayerSource ( voxel: "snow", depth: 2 ),
				LayerSource ( voxel: "dirt", depth: 3 ),
			],
			features: ["evergreen", "mega_evergreen", "ice_spike", "frozen_oak_tree"],
		),
		BiomeSource (
			name: "Forest",
			layers: [
				LayerSource ( voxel: "grass", depth: 1 ),
				LayerSource ( voxel: "dirt", depth: 5 ),
			],
			features: ["oak_tree", "birch_tree"],
		),
		BiomeSource (
			name: "Rain Forest",
			layers: [
				LayerSource ( voxel: "grass", depth: 2 ),
				LayerSource ( voxel: "dirt", depth: 5 ),
			],
			features: ["jungle_tree"],
		),
	]
),
WorldPresetSource (
	name: "Superflat",
	
	temp: Value(70.0),
	humidity: Value(20.0),
	weirdness: Value(0.0),
	
	height: Value(12),
	sea_level: 10,
	
	biome_lookup: (
		(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
		(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
		(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
		(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
	),
	
	earth: "stone",
	biomes: [
		BiomeSource (
			name: "Default",
			layers: [
				LayerSource ( voxel: "grass", depth: 1 ),
				LayerSource ( voxel: "dirt", depth: 3 ),
			],
			features: ["oak_tree"],
		)
	]
),
]
