Feature {
	name: "Tree",
	freq: 0.1,
}
Feature {
	name: "Cactus",
	freq: 0.1,
}
Feature {
	name: "Evergreen",
	freq: 0.1,	
}

WorldGen {
	name: "Superflat",
	
	temp: Value(70.0),
	humidity: Value(20.0),
	
	height: Value(12),
	sea_level: 10,
	
	earth: "Stone",
	biomes: [
		Biome {
			name: "Default"
			temp: Range(60.0, 90.0),
			humidity: Range(0.3, 0.7),
			weird: Range(0.0, 5.0),
			
			surface: [(Dirt, 3), (GrassLayer, 1)],
			surface_features: ["Tree"],
		}
	]
}

WorldGen {
	name: "Standard World Gen",
	
	temp: Map { scale: 0.0, freq: 0.0 },
	humidity: Map { scale: 0.0, freq: 0.0 },
	weirdness: Map { scale: 0.0, freq: 0.0 },
	
	height: Map { scale: 0.0, freq: 0.0 },
	sea_level: 80,
	
	earth: "Stone",
	biomes: [
		Biome {
			name: "Default"
			temp: Range(60.0, 90.0),
			humidity: Range(0.3, 0.7),
			weird: Range(0.0, 5.0),
			
			surface: [(Dirt, 3), (GrassLayer, 1)],
			surface_features: ["Tree"],
		},
		Biome {
			name: "Desert"
			temp: Range(90.0, 120.0),
			humidity: Range(0.0, 0.5),
			weird: Range(0.0, 5.0),
			
			surface: [(Sandstone, 3), (Sand, 7)],
			surface_features: ["Cactus"],
		},
		Biome {
			name: "Jungle"
			temp: Range(90.0, 120.0),
			humidity: Range(0.5, 1.0),
			weird: Range(0.0, 5.0),
			
			surface: [(Dirt 4), (Grass, 1)],
			surface_features: ["JungleTree"],
		},
		Biome {
			name: "Cold Desert"
			temp: Range(-30.0, 20.0),
			humidity: Range(0.0, 1.0),
			weird: Range(0.0, 5.0),
			
			surface: [(Dirt, 3), (Snow, 1)],
			surface_features: ["Evergreen"],
		},
		Biome {
			name: "Arctic Desert"
			temp: Range(-120.0, -30.0),
			humidity: Range(0.0, 1.0),
			surface: [(Dirt, 3), (Snow, 5)],
			surface_features: [],
		},
	]
}
